
/*HOME///////////////////////////////////////////////////////////////////////*/

.logo {
  font-size: 15em;
  color: #d17a02;
  }

#btn {
  color: #2b5dad;
  font-size: 0.95em;
}

#btn:hover {
  color: #3d85f7;
  }

/*Navigation-bar//////////////////////////////////////////////////////////////////////*/

.navbar {
  background: #d17a02;
}

/*Button Submit////////////////////////////////////////////////////////////////////*/

button.btn-primary {
  background: #2b5dad;
}
